@media (min-width: 320px)  and (max-width: 1439px) {
    .Twitter {
        display: none
    }

    .Facebook {
        display: none
    }

    .Insta {
        display: none
    }
}

@media (min-width: 768px)  and (max-width: 1024px) {

    .Contact {

        gap: 1rem;
  margin-left: 3rem;
  

    }
   
}

@media (min-width: 320px) and (max-width:767px) {
    .Contact {
        gap:1.4rem;
        margin-left:0rem;
        flex-direction: column;
    }

    .Footer {
        gap:0rem;
        flex-direction: column;
        
    }
    .container_1 {
        height: auto;
    }
    .hhh{
        margin-left:13px;
    }
}